body {
    background-image: url('photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

li {
    background-color: rgba(157, 205, 200, 0.6);
    width:70%;
    padding: 5px;
    font-family: 'PT Mono', monospace;
    list-style-type: none;
    
}

.btn {
    color: rgb(14, 66, 58);
    border: none;
    background-color: rgb(97, 185, 177);
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    width:30%;
    font-family: 'PT Mono', monospace;
}

.btnTwo {
    color: white;
    border: none;
    background-color: rgb(83, 23, 36);
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    width:30%;
    font-family: 'PT Mono', monospace;
}

input {
    padding: 5px;
    width:50%;
    font-family: 'PT Mono', monospace;
}

h1 {
    font-family: 'PT Mono', monospace;
}

.didIt {
    background-color: rgba(54, 114, 108, 0.8);
    color: bisque; 
}
